.menu {
  & .logo {
    width: 160px;
    margin: 30px auto 107px;

    & img {
      width: 160px;
    }
  }

  & .list-header {
    position: relative;
    width: calc(100% - 30px);
    height: 38px;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;

    & .up {
      float: left;
    }
    & .down {
      float: right;
    }

    & h2 {
      font-size: 30px;
      text-align: center;
      position: absolute;
      width: 100%;
      text-align: center;
    }

    & h3 {
      color: #666;
    }
  }

  & .list-holder {
    display: flex;
    width: calc(100% - 30px);
    max-width: 600px;
    margin: 0 auto 80px;
    justify-content: space-between;
  }
}