.story {
  width: 94%;
  max-width: 600px;
  margin: 0 auto;

  & p {
    text-align: justify;
    margin-bottom: 60px;
  }

  & footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;

    & a {
      text-decoration: underline;
      cursor: pointer;
      color: black;
    }
  }
}