@import 'reset-css/reset.css';
@import './constants/constants.css';

html, body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  line-height: 28px;
}

a {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: black;
  display: inline-block;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.04,1);
  }
}
